%h1 Изменить количество
.content
  = form_for @claim_line do |form|
    %table.card
      %tr
        %th Количество:
        %td= form.text_field :count
        %td= hidden_field_tag :claim_line_id, @claim_line.id
    %br
    = submit_tag "Изменить"
