%h1 Изменить примечание
.content
  = form_for @claim_line do |form|
    %table.card
      %tr
        %th Примечание:
        %td= form.text_field :description, :size => 100
        %td= hidden_field_tag :claim_line_id, @claim_line.id
    %br
    = submit_tag "Изменить"
